.heading {
  $heading: &;
  font-size: 18px;
  &--bordered {
    #{$heading}__title {
      border-bottom: 2px solid var(--bs-red);
    }
  }

  &__title {
    text-transform: uppercase;
    color: $color-accent;
  }
}
