.tag {
  margin: 0 1px 1px 0;
  background-color: var(--bs-red);
  color: var(--bs-white);
  font-size: $font-md;
  transition: 0.05s background-color ease;
  text-transform: lowercase;

  &--size-small {
    padding: 0 map_get($gaps, 1);
  }

  &--size-normal {
    padding: map_get($gaps, 2) map_get($gaps, 3);
  }

  &--rounded {
    border-radius: $border-radius;
  }

  &:hover {
    background-color: $color-accent;
  }
}
